// loader page
.loader_logo{
    border: 15px solid #f3f3f3;
    border-top: 15px solid #9356DC;
    border-bottom: 15px solid #FF79DA;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 3s ;
    transition: opacity 0.3s linear;
    margin: auto;
    position: fixed;
    z-index:9999;
    top: 0; left: 0;right: 0;bottom: 0; 
    opacity: 0;       
}


@keyframes spin {
    0% { transform: rotate(0deg);
        opacity: 1;
          }           
    100% { transform: rotate(360deg);
            opacity: 0;
        }       
}

html {
    animation: blur 3s;
}

@keyframes blur {
    0% { filter:blur(2px);
        -webkit-filter: blur(2px);
        }           
    100% { filter:blur(0);
        -webkit-filter: blur(0);
        }   
}

// partie Header
header{
    text-align: center;
}

.logo_header{
    width: 200px;
    text-align: center;
    margin: 12px 0 12px 0;
}


// section form
.form{
    background-color: #EAEAEA;
    height: 50px;
    padding: 25px 0 0 62px;
}

#icone_loc{
    color: black;
}

#ville{
    color: black;
    border: none;
    background-color: #EAEAEA;
}

.marg{
    font-weight: 700;
    font-size: 24px;
    font-family: "Roboto", sans-serif;
    margin-left: 20px
  
}

// section réservation
.button_explorer {
    @include button_explorer;  
    transition: transform 500ms ease-in-out;  
    text-decoration: none;
}

.button_explorer:hover {
    transform: scale(1.01);
    box-shadow:  -1px 4px 17px rgba(0, 0, 0, 0.5);
    opacity: 0.8;
}


// section Fonctionnement
.button_choice{
    gap: 21px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button_fonction{
    @include button;
}

.fa-solid{
    color: #7e7e7e;
    margin-right: 15px;
}

.logo_number{
    border-radius: 50%;
    background-color: $color-primary;
    padding: 5px 9px 5px 9px;
    position: absolute;
    left: -15px;
    color: #ffffff;
}


// section cards
.card_restaurants{
    display: flex;
    flex-direction: column;
    padding: 0 10px 20px 10px;
    border-radius: 15px;
    position: relative;
}

    
.card_image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

.section_cards{
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;    
}

.section_reservation{
    text-align: center;
    padding-bottom: 30px;
    padding-top: 2px;
}

.text_card{
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    background-color: white;
    border-radius: 0 0 15px 15px;
    margin-top: -4px;
}

.card_h2{
    display: flex;   
    justify-content: flex-start;
    margin-bottom: -10px;
}

.hoverheart__blackheart{
    color: black;  
    height: 21px;
    position: absolute;
    left: 82%;
    font-size: 2em;   
    opacity: 1; 
    transition: opacity 0.3s ease-in-out;
}

.hoverheart__pinkheart{
    height: 21px;
    position: absolute;
    left: 82%;
    font-size: 2em;  
    padding-bottom: 10px;
    padding-right: 2px;
    background: $color-violet;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
}

.hoverheart:hover .hoverheart__blackheart {
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.hoverheart:hover .hoverheart__pinkheart{
    opacity: 1;
    transition: 0.3s ease-in-out;
}

.logo_nouveau{
    background-color: #99E2D0;
    color: #008766;
    padding: 0.5rem;
    border-radius: 0.125rem;
    position: absolute;
    right: 23px;
    bottom: 202px;
}

.restaurant_link{
    text-decoration: none;
    color: black;
}


// section footer
footer{
    background-color: $color-footer; 
}

.footer_display{
    display: flex;
    flex-direction: column;          
    padding: 22px 0px 22px 21px; 
    gap: 10px;    
}

.footer_display > img {
    filter: invert(100%);
    -webkit-filter: invert(100%);
}

footer a {
    text-decoration: none;
    color: white;
}
   
.logo_footer{
    width: 100px;
    height: 27px;  
    margin: 10px 0 10px 0;  
}

#logo_fork{
    color: #ffffff;
    margin-right: 15px;
}

#logo_handshake{
    color: #ffffff;
    margin-right: 11px;
}

.card_h2{
    display: flex;   
    justify-content: flex-start;
    margin-bottom: -10px;
}
