// media  queries ≥ 1024px
@media (min-width: 1024px) {

.section_function{
    margin-left: 30px;
    margin-right: 30px;
}

.button_choice{
    display: flex;
    flex-direction: row;
    margin-left: 3%;
}

.button_fonction{
    width: 35%;
    margin-right: 5%;
}

.logo_number{
    top: 22px;
}


// section cards
.display_grid{
    display: grid;
    grid-template-columns: repeat(2, 48%);
    gap: 3%;
}


// footer media
.footer_display{
    display: flex;
    flex-direction: row;
    padding: 22px 0px 22px 21px;
    gap: 10px;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.logo_footer{
    order: 1;
    padding: 0 25px 0 50px;  
}

.margin_mentions{
    margin-left: 50px;
}

}