body{
    font-family: 'Roboto', sans-serif;
    margin: auto;
    max-width: 1440px;
   }

h1{
   font-family: 'Roboto', sans-serif;
   font-weight: 700;
   font-size: 24px;
   padding-left: 15px;
}

h2{
   font-family: 'Roboto', sans-serif;
   font-weight: 700;
   font-size: 18px;
}

p, .h2_menu{
   font-family: 'Roboto', sans-serif;
   font-weight: 300;
   font-size: 17px;
}

ul{
   list-style-type: none;
}

.section_cards,
.section_reservation{
   background-color: $color-gray;
}

footer, .button_fonction, #ville, .button_explorer, .title_menu{
   font-family: 'Roboto', sans-serif;
   font-weight: 500;
   font-size: 16px;
}

